/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --first-color: #3258A6;
    --dark-color: #002166;
    --dark-color-alt: #282B3A;
    --primary-color: #9B8048;
    --white-smoke-color: #E6E7E9;
    --white-color: #fff;

    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --z-fixed: 100;
}

:root {
    @media screen and (min-width: 768px) {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    // background-image: url(../imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    // background-color: var(--dark-color);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: var(--white-color);
    }

    &__toggle {
        font-size: 1.5rem;
        color: var(--white-color);
        cursor: pointer;
    }
}

.header_scrol {
    background-image: url(../imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 0;
    // margin: 0;
    // box-shadow: #002166 0px 3px 8px;
    opacity: 1;
}


/*===== NAV =====*/
@media screen and (max-width: 780px) {
    .header {
        // background-color: var(--dark-color);
        opacity: 1;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--primary-color);
        color: var(--white-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
    }

    .main {
        margin-top: 3rem;

        #hero {

            #div1 {
                #div2 {
                    .itm1 {
                        margin-top: -7rem;

                        .btn3 {
                            color: var(--white-color);
                            // opacity: .4;
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            width: 50%;
                            border-radius: 0%;
                            padding: 6px 20px;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border-color: var(--primary-color);
                            }

                            span {
                                word-spacing: 0px;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }

    }



    #footer {
        background-color: var(--dark-color);
        margin-top: 10rem;

        #footer_main {
            // margin-left: 2.6rem;

            ::placeholder {
                color: white;
            }

            #f_div1 {
                #div2 {
                    .itm1 {
                        margin-top: -3rem;

                        form {
                            .icon {
                                padding: 10px 0 10px 75px;
                                min-width: 40px;
                            }

                            #email {
                                background: transparent;
                                width: 76%;
                                padding: 5px 11px;
                                color: white;
                                margin: 0 37px;
                            }

                            .hero_button {
                                margin: 5px 0;

                                .btn3 {
                                    color: var(--dark-color);
                                    // opacity: .4;
                                    background-color: var(--white-color);
                                    border-color: var(--white-color);
                                    width: 77%;
                                    padding: 6px 10px;

                                    &:hover {
                                        background-color: var(--first-color);
                                        color: var(--dark-color);
                                        border-color: var(--first-color);
                                    }

                                    span {
                                        word-spacing: 0px;
                                        letter-spacing: 1.8px;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }

                        #link-ftr {
                            a {
                                color: white;
                                display: inline-block;
                                font-size: 11px;
                                padding: 0 2px;

                                &:hover {
                                    color: var(--first-color);
                                }
                            }
                        }
                    }
                }

                .item2 {
                    margin-top: 0rem;
                    // margin-bottom: 1rem;
                }
            }
        }
    }
}


.nav {
    &__content {
        height: 100%;
        grid-template-rows: max-content 1fr max-content;
        row-gap: 2rem;
    }

    &__close {
        position: absolute;
        right: 1.5rem;
        font-size: 1.3rem;
        padding: .25rem;
        background-color: var(--dark-color-alt);
        border-radius: 50%;
        cursor: pointer;
    }

    &__name {
        display: block;
        color: var(--white-color);
    }

    &__profesion {
        font-size: var(--small-font-size);
    }

    &__menu {
        align-self: center;

        // margin: 0px 12rem
        &:hover {
            color: var(--white-color);
        }
    }

    &__item {
        margin: 1.5rem 0;
    }

    &__link {
        color: var(--white-color);
    }

    &__buttons {
        padding-top: .5rem;

        .btn1 {
            color: var(--white-color);
            // opacity: .4;
            background-color: transparent;
            border-color: var(--white-color);

            &:hover {
                background-color: var(--first-color);
                color: var(--white-color);
                border-color: var(--first-color);
            }
        }

        .btn2 {
            color: var(--white-color);
            background-color: var(--first-color);
            border-color: var(--first-color);

            &:hover {
                background-color: transparent;
                color: var(--white-color);
                border-color: var(--white-color);
            }
        }
    }

}

/*Aparecer menu*/
.show {
    left: 0;
}

/*Active menu*/
.active {
    color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 780px) {
    body {
        margin: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        background-color: var(--white-color);

        &__logo,
        &__toggle {
            display: none;
        }
    }

    .nav {
        width: 100%;
        background-color: var(--white-color);

        &__content {
            grid-template-columns: repeat(4, max-content);
            grid-template-rows: 1fr;
            column-gap: 1rem;
            justify-content: space-between;
        }

        &__close,
        &__profesion {
            display: none;
        }

        &__perfil {
            display: flex;
            align-items: center;
            // margin-left: -18rem;
        }

        &__menu {
            align-self: center;
            align-self: center;
            margin: 0px 0rem 0 24rem;

            .btn2 {
                color: var(--white-color);
                // opacity: .4;
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                width: 12rem;
                padding: 1px 16px;
                border-radius: 0;
                text-align: start;

                &:hover {
                    background-color: transparent;
                    color: var(--primary-color);
                    border-color: var(--primary-color);
                }

                span {
                    word-spacing: 0px;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                }
            }


        }

        &__img {
            width: 32px;
            height: 32px;
            margin-right: .5rem;
            margin-bottom: 0;
            align-items: center;

            & img {
                width: 26px;
            }
        }

        &__list {
            display: flex;
        }

        &__item {
            margin: 0 .25rem;
            color: black;
            display: flex;
        }

        &__link {
            padding: .5rem .8rem;
            border-radius: .25rem;

            &:hover {
                background-color: var(--first-color);
                color: var(--dark-color);
            }
        }

        &__buttons {
            padding-top: .5rem;


        }
    }

    // main1
    .main {
        margin-top: 4rem;

        #hero {
            margin-left: 3.5rem;
            background-image: url(../imgs/herobg.png);
            background-size: 100rem;
            background-repeat: no-repeat;
            height: 43rem;

            ::placeholder {
                color: white;
            }

            #div1 {
                #div2 {
                    .itm1 {
                        margin-top: -7rem;

                        .btn3 {
                            color: var(--white-color);
                            // opacity: .4;
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            width: 25%;
                            border-radius: 0%;
                            padding: 6px 20px;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border-color: var(--primary-color);
                            }

                            span {
                                word-spacing: 0px;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }

        #section1 {
            margin-top: 10rem;

            .r1 {
                #maindiv {
                    padding: 75px 0 0 0;

                    h4 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: uppercase;
                    }

                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 19px;
                        display: flex;
                        align-items: center;
                        padding: 3rem 0;
                    }

                    a {
                        .btn3 {
                            color: var(--white-color);
                            // opacity: .4;
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            width: 50%;
                            border-radius: 0%;
                            padding: 6px 20px;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border-color: var(--primary-color);
                            }

                            span {
                                word-spacing: 0px;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

        }

        #section2 {
            margin-top: 10rem;

            .r1 {
                #maindiv {
                    padding: 75px 0 0 0;

                    h4 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: uppercase;
                    }

                    #paradev {
                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 19px;
                            display: flex;
                            align-items: center;
                            padding: 3rem 0;
                        }
                    }
                }

                #div1 {
                    .r3 {
                        h4 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 28px;
                            display: flex;
                            align-items: center;
                            padding: 34px 0 0px 0;
                        }

                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 19px;
                            display: flex;
                            align-items: center;
                            padding: 15px 0;
                        }

                        a {
                            .btn2 {
                                color: var(--white-color);
                                // opacity: .4;
                                background-color: var(--primary-color);
                                border-color: var(--primary-color);
                                width: 50%;
                                border-radius: 0%;
                                padding: 6px 0px;

                                &:hover {
                                    background-color: transparent;
                                    color: var(--primary-color);
                                    border-color: var(--primary-color);
                                }

                                span {
                                    word-spacing: 0px;
                                    letter-spacing: 1.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }

        }

        #section3 {
            margin-top: 10rem;

            .r1 {
                #maindiv {
                    padding: 75px 0 0 0;

                    h4 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: uppercase;
                    }

                    #paradev {
                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 19px;
                            display: flex;
                            align-items: center;
                            padding: 3rem 0;
                        }
                    }
                }

                #div1 {
                    .r3 {
                        h4 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 28px;
                            display: flex;
                            align-items: center;
                            // padding: 34px 0 0px 0;
                        }

                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 19px;
                            display: flex;
                            align-items: center;
                            padding: 4px 0;
                        }

                        a {
                            p {
                                span {
                                    padding: 2px 0 0 10px;
                                    font-style: normal;
                                    font-size: 12px;
                                    line-height: 16px;
                                    display: flex;
                                    align-items: center;
                                    color: #A7A2A2;
                                }

                                ;
                            }

                            .btn3 {
                                color: var(--white-color);
                                // opacity: .4;
                                background-color: var(--primary-color);
                                border-color: var(--primary-color);
                                width: 100%;
                                border-radius: 0%;
                                padding: 6px 20px;

                                &:hover {
                                    background-color: transparent;
                                    color: var(--primary-color);
                                    border-color: var(--primary-color);
                                }

                                span {
                                    word-spacing: 0px;
                                    letter-spacing: 1.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }


                }
            }

        }

        #section4 {
            background-image: url(../imgs/Group14.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin: 75px 0 0 0;

            .maindiv {

                .item2 {
                    form {

                        .btn3 {
                            color: var(--white-color);
                            // opacity: .4;
                            background-color: transparent;
                            border-color: var(--primary-color);
                            width: 50%;
                            border-radius: 0%;
                            padding: 6px 20px;
                            margin: 33px 0 0 0;
                            font-size: 12px;

                            &:hover {
                                background-color: var(--primary-color);
                                color: var(--white-color);
                                border-color: var(--primary-color);
                            }

                            span {
                                word-spacing: 0px;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

            }
        }

        #section5 {
            margin-top: 10rem;

            .r1 {
                #maindiv {
                    padding: 75px 0 0 0;

                    h4 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: uppercase;
                    }

                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 19px;
                        display: flex;
                        align-items: center;
                        padding: 3rem 0;
                    }

                    a {
                        .btn3 {
                            color: var(--white-color);
                            // opacity: .4;
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            width: 50%;
                            border-radius: 0%;
                            padding: 6px 20px;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border-color: var(--primary-color);
                            }

                            span {
                                word-spacing: 0px;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

        }
    }

}


// footer
#footer {
    background-color: var(--dark-color);
    margin-top: 10rem;

    #footer_main {
        // margin-left: 2.6rem;

        ::placeholder {
            color: white;
        }

        #f_div1 {
            #div2 {
                .itm1 {
                    margin-top: -3rem;

                    form {
                        .icon {
                            padding: 10px 0px;
                            min-width: 40px;
                        }

                        #email {
                            background: transparent;
                            width: 69%;
                            padding: 5px 35px;
                            color: white;
                        }

                        .hero_button {
                            margin: 5px 0;

                            .btn3 {
                                color: var(--dark-color);
                                // opacity: .4;
                                background-color: var(--white-color);
                                border-color: var(--white-color);
                                width: 69%;
                                padding: 6px 42px;

                                &:hover {
                                    background-color: var(--first-color);
                                    color: var(--white-color);
                                    border-color: var(--first-color);
                                }

                                span {
                                    word-spacing: 0px;
                                    letter-spacing: 1.8px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    #link-ftr {
                        a {
                            color: white;
                            display: inline-block;
                            font-size: 8px;
                            padding: 0 2px;

                            &:hover {
                                color: var(--first-color);
                            }
                        }
                    }
                }
            }

            .item2 {
                margin-top: -12rem;
                // margin-bottom: 1rem;
            }
        }
    }
}


@media screen and(min-width: 1024px) {
    .bd-grid {
        margin-left: 14rem;
        margin-right: auto;
    }
}


/* ====== DropDown 1======*/
.sec-center {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.dropdown:checked+label,
.dropdown:not(:checked)+label {
    position: relative;
    transition: all 200ms linear;
    width: 107px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.dropdown:checked+label:before,
.dropdown:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

for_dropdown {
    color: var(--dark-color);
}

.dropdown {
    &:checked {
        &+label {
            &:before {
                pointer-events: auto;
            }

            .uil {
                transform: rotate(180deg);
                font-size: 24px;
                margin-left: 10px;
                transition: transform 200ms linear;
            }
        }

        &~.section-dropdown {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    &:not(:checked) {
        &+label {
            .uil {
                font-size: 24px;
                margin-left: 10px;
                transition: transform 200ms linear;
            }
        }
    }
}

.section-dropdown {
    position: absolute;
    background-color: var(--dark-color);
    top: 50px;
    left: 0;
    width: 220px;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;

    &:before {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        content: '';
        display: block;
        z-index: 1;
    }

    &:after {
        position: absolute;
        top: -7px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #111;
        content: '';
        display: block;
        z-index: 2;
        transition: all 200ms linear;
    }

    a {
        position: relative;
        color: #fff;
        transition: all 200ms linear;
        font-size: 15px;
        border-radius: 2px;
        padding: 5px 0;
        padding-left: 20px;
        padding-right: 15px;
        margin: 2px 0;
        text-align: left;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            color: var(--white-color);
            background-color: var(--first-color);
        }

        .uil {
            font-size: 22px;
        }
    }
}



.dropdown-sub:checked+label,
.dropdown-sub:not(:checked)+label {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}

.dropdown-sub:checked+label .uil,
.dropdown-sub:not(:checked)+label .uil {
    font-size: 22px;
}

.dropdown-sub {
    &:not(:checked) {
        &+label {
            .uil {
                transition: transform 200ms linear;
            }
        }
    }

    &:checked {
        &+label {
            .uil {
                transform: rotate(135deg);
                transition: transform 200ms linear;
            }
        }

        &~.section-dropdown-sub {
            pointer-events: auto;
            opacity: 1;
            max-height: 999px;
        }
    }
}

.dropdown-sub:checked+label:hover,
.dropdown-sub:not(:checked)+label:hover {
    color: #102770;
    background-color: #ffeba7;
}

.section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
    transition: all 200ms linear;

    a {
        font-size: 14px;

        .uil {
            font-size: 20px;
        }
    }
}


// Dropdwon 2
.sec-center2 {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.dropdown2:checked+label,
.dropdown2:not(:checked)+label {
    position: relative;
    transition: all 200ms linear;
    width: 107px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.dropdown2:checked+label:before,
.dropdown2:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

.dropdown2 {
    &:checked {
        &+label {
            &:before {
                pointer-events: auto;
            }

            .uil {
                transform: rotate(180deg);
                font-size: 24px;
                margin-left: 10px;
                transition: transform 200ms linear;
            }
        }

        &~.section-dropdown2 {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    &:not(:checked) {
        &+label {
            .uil {
                font-size: 24px;
                margin-left: 10px;
                transition: transform 200ms linear;
            }
        }
    }
}

.section-dropdown2 {
    position: absolute;
    background-color: var(--dark-color);
    top: 50px;
    left: 0;
    width: 220px;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;

    &:before {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        content: '';
        display: block;
        z-index: 1;
    }

    &:after {
        position: absolute;
        top: -7px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #111;
        content: '';
        display: block;
        z-index: 2;
        transition: all 200ms linear;
    }

    a {
        position: relative;
        color: #fff;
        transition: all 200ms linear;
        font-size: 15px;
        border-radius: 2px;
        padding: 5px 0;
        padding-left: 20px;
        padding-right: 15px;
        margin: 2px 0;
        text-align: left;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            color: var(--white-color);
            background-color: var(--first-color);
        }

        .uil {
            font-size: 22px;
        }
    }
}



.dropdown2-sub:checked+label,
.dropdown2-sub:not(:checked)+label {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown2-sub:checked+label .uil,
.dropdown2-sub:not(:checked)+label .uil {
    font-size: 22px;
}

.dropdown-sub {
    &:not(:checked) {
        &+label {
            .uil {
                transition: transform 200ms linear;
            }
        }
    }

    &:checked {
        &+label {
            .uil {
                transform: rotate(135deg);
                transition: transform 200ms linear;
            }
        }

        &~.section-dropdown-sub {
            pointer-events: auto;
            opacity: 1;
            max-height: 999px;
        }
    }
}

.dropdown-sub:checked+label:hover,
.dropdown-sub:not(:checked)+label:hover {
    color: #102770;
    background-color: #ffeba7;
}

.section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
    transition: all 200ms linear;

    a {
        font-size: 14px;

        .uil {
            font-size: 20px;
        }
    }
}